.form-container {
  width: 500px;
  border: none;
  margin: 0px;
}

.change-link {
  color: #fff;
  text-align: center;
}

.change-link>input {
  height: 20px;
  width: 100px;
  right: 0;
  opacity: 0;
  position: absolute;
}

.link {
  opacity: 0.7;
  background-color: #000;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  bottom: 0;
  left: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

input:hover {
  background-color: #1E90FF;
  color: #fff;
  text-decoration: none;
}

.crop {
  overflow: hidden;
  margin: auto;
}

.crop img {
  width: inherit;
  margin: auto;
}

#editor-container {
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  height: 130px;
}

label {
  text-align: left;
  font-size: 1.5em;
  padding: 5px;
}

.ff {
  height: 220px;
}

.ff>label {
  padding-left: 15px;
}

#bb {
  margin-left: 10px;
  margin-bottom: 10px;
}

#row1, #row2, #row3{
  box-shadow: none;
}

t1 {
  position: absolute;
  margin-top: 14px;
  margin-bottom: 14px;
}

.iconbtn {
  position: relative;
  height: 50px;
  width:  50px;
  left: -10px;
  top: -35px;
  opacity: 0;
  /* background-color: gray; */
}